<h1>Base de datos de películas, series y documentales</h1>

<ul>
  <li><%= link_to 'Películas', movies_index_path %></li>
  <li><%= link_to 'Series', series_index_path %></li>
  <li><%= link_to 'Documentales', documentary_films_index_path %></li>
</ul>
